@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display-face: var(--font-display);
  --font-interface-face: var(--font-interface);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply min-h-full bg-background text-foreground font-interface-face;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display-face;
  }

  p,
  span,
  a,
  li,
  body {
    @apply font-interface-face;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
